@use 'sass:math';

$gutter: 1.5rem;
$halfGutter: math.div($gutter, 2);

$sizeLogo: 60px;

// ING Colors

$grey: #858aa0;
$orange: #ff6200;
$white: #ffffff;
$violet: #525199;
$blue: #559BD1;
$noir: #333;

// breakpoints
$oneColum: 768px;
$twoColum: 1024px;