@use 'src/styles/vars' as v;

.container {
    height: 100vh;
    padding: 0 1em;
    display: flex;
    flex-wrap: wrap;

    .blockLeft {
        min-width: 50%;
        background-color: brown;
        background-size: cover;
        background-position: center;
    }
    .blockRight {
        background-color: antiquewhite;
        min-width: 50%;
    }
}