@use 'src/styles/vars' as v;

nav {
	width: 100%;
	position: sticky;
	top: 0;
	z-index: 10;
    background-color: #fff;
	
	.menu-mobile {
		text-transform: uppercase;
		font-weight: bold;
		font-size: 16px;
		color: #fff;
		background-color: v.$white;
		position: relative;
		z-index: 15;
		display: none;

		.is-open {
			-webkit-transform: rotate(360deg);
			transform: rotate(360deg) scale(1.2); ;
			transition: transform 0.3s ease-in-out;
		}
		.is-close {
			-webkit-transform: rotate(-720deg);
			transform: rotate(-720deg);
			transition: transform 0.2s ease-in-out;
		}
        .logo__icon {
            padding: 15px 0; // hauteur nav
			// mobile logo
            .logo__mobile {
                height: 26px;
                width: 99px;
				margin-left: 2em;
            }
        }
        
        .menu__right {
            .user__icon {
                color: v.$orange;
                padding: 0 10px;
             }
             .search__icon {
                 color: black;
                 padding: 0 10px;
             }
        }
	}

	.list {
		display: flex;
		justify-content: space-between;
        align-items: center;
        border-bottom: solid 2px #dbdcdd;
        padding: 0 10px;

		.logo__icon {
            display: flex;
            align-items: center;
			overflow: hidden;

            padding: 15px 0; // hauteur nav

			// desktop logo
			.logo {
				width: 99px;
                height: 26px;
                aspect-ratio: auto 99 / 26;
				background-position: center;
				background-size: cover;
				margin-left: 5px;
			}
		}

		ul {
			margin: 0px;
			padding: 0px;
			display: flex;
			flex-direction: row;
			justify-content: flex-end;
            align-items: center;

			li {
                display: flex;
				list-style-type: none;
				flex-direction: row;
				align-items: center;
				justify-content: center;
                padding: 10px 10px;
                
                a {
                    display: flex;
                    text-decoration: none;
                    color: v.$grey;
                }
			}
        }

        .espace__client {
            display: flex;
			transition: all ease;
            div {
                padding: 0 5px;
                list-style: none;
                
                a {

                    button {
                        cursor: pointer;
                        background-color: #fff;
                        color: v.$blue;
                        font-weight: 500;
                        border: 1px v.$blue solid;
                        border-radius: 10px;
                        padding: 10px;

                        &:hover {
                            color: #fff;
                            background-color: v.$blue;
                        }
                    }
                }
            }
        }
	}


	input[type=checkbox] {
		display: none;
	}
}

@media screen and (max-width: v.$oneColum) {

	nav {
		flex-direction: column;
		height: inherit;
		align-items: center;
		justify-content: space-between;
		position: sticky;
		top: 0;
		z-index: 10;

		// Label
		.menu-mobile {
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding: 0 1rem;
			color: v.$orange;
			z-index: 150;
		}

		input[type=checkbox] {
			& ~ .list {
                flex-direction: column;
				.logo__icon {
					display: none;
				}
				position: relative;
				z-index: 1;
				max-height: 0;
				overflow: hidden;
				transition: all 500ms ease-in-out;

				ul {
					display: flex;
					flex-direction: column;
					align-items: center;
					width: 100%;

					li:hover a {
						-webkit-transform: scale(1.1);
						transform: scale(1.1);
					}
				}
			}
		}

		input[type=checkbox]:checked {
			& ~ .list {
				max-height: 100vh;
				position: relative;
				z-index: 5;
                flex-direction: column;
                

                .espace__client {
                    padding: 10px 0 20px 0;
                }
			}

		}
	}
}